
.nav_mainmenu
{
	 position: relative;
    left: 210px;
    top: 70px;
}
.nav_mainmenu ul
{
	display: block
	position:relative;
}
.nav_mainmenu ul > li
{
	float:right;
	position:relative;
	padding-right:7px;
	padding-left:7px;
	border-left:1px #c1c1c1 solid;
}
.nav_mainmenu ul  li a
{
	color:#c2c2c2;
}