body{
    direction: rtl;
    font-family: Vazir;
    background: #fff;
}
.header{
    height: 400px;
    background-color:blue;
}
.menu{
    height: 95px;
    background-color: red;
}
.lnr-checkmark-circle{
    color: white;
    font-size: 40px;
}